extends index

block metas
   meta(name='description', content='Congrefs.com is a site where we the people can vote on legislation and provide our thoughts on each bill.')

block afterNav
   h3 About Congrefs
   p.
      This site is under construction. The goal of this site is to provide a mechanism for
       "We the People" to vote on legislation and provide feedback to the United States Congress.
       We often see approval polls and other data associated with issues and wonder: "How
       accurate is that, really?" Well, our goal is to increase the sample size and let the
       voice of the people be heard!
   p.
      PS - The name "Congrefs" is a play on words with the old traditional spelling of "Congress" as
       seen on the original text of the United States Constitution.
   p
      a(href='https://twitter.com/congrefs') Follow Congrefs on Twitter
   p
      a(href='https://github.com/tutley/congrefs') Follow Development on Github
   p Thanks to Texas A&M University for their 
      a(href='https://geoservices.tamu.edu/Services/Geocode/Default.aspx') Geolocation API!
   p Thanks to the Sunlight Foundation for their 
      a(href='http://sunlightlabs.github.io/congress/') Sunlight Congress API!


block modals
   //- this is where you can add hidden divs and other elements that you'll want to display
      dynamically on the page. 

block pageScripts
   //- This is where any page specific scripts go   
      Keep in mind that these are included in every page already:
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')