!!!
html
    head
        title= title
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css')
        link(rel='stylesheet', href='css/style.css')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js')
        script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap.min.js')
        script(type='text/javascript').
            (function() {
                if (typeof window.janrain !== 'object') window.janrain = {};
                if (typeof window.janrain.settings !== 'object') window.janrain.settings = {};
                
                janrain.settings.tokenUrl = 'http://congrefs.com/rpx';

                function isReady() { janrain.ready = true; };
                if (document.addEventListener) {
                  document.addEventListener("DOMContentLoaded", isReady, false);
                } else {
                  window.attachEvent('onload', isReady);
                }

                var e = document.createElement('script');
                e.type = 'text/javascript';
                e.id = 'janrainAuthWidget';

                if (document.location.protocol === 'https:') {
                  e.src = 'https://rpxnow.com/js/lib/congrefs/engage.js';
                } else {
                  e.src = 'http://widget-cdn.rpxnow.com/js/lib/congrefs/engage.js';
                }

                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(e, s);
            })();

    body(style='padding-top: 0px;')
        div.container-fluid
            div.row
                div.span9
                    div.page-header
                        h1 Congrefs
                        h1
                            small Of the People
                div.span3
                    ul.pull-right.breadcrumb
                        li
                            a(href='/login') Login
                            span.divider /
                        li
                            a(href='/register') Register


            block noNavBody
                div.row
                    div.span2
                        |&nbsp;
                    div.span8.well
                        div(id='janrainEngageEmbed')
                    div.span2
                            |&nbsp;

                div.row
                    div.span1
                        |&nbsp;
                    div.span3
                        ul.thumbnails
                            li.span3
                                a.thumbnail(href='plans')
                                    center
                                        h1 Plans and Pricing
                                    //- img(src='http://placehold.it/260x180', alt='placeholder')
                    div.span1
                        |&nbsp;
                    div.span3
                        ul.thumbnails
                            li.span3
                                a.thumbnail(href='/about')
                                    center
                                        h1 About Us
                                    //- img(src='http://placehold.it/260x180', alt='placeholder')
                    div.span1
                        |&nbsp;
                    div.span3
                        ul.thumbnails
                            li.span3
                                a.thumbnail(href='/tos')
                                    center
                                        h1 Terms of Service
                                    //- img(src='http://placehold.it/260x180', alt='placeholder')


                div.row
                    div.span1
                        |&nbsp;
                    div.span10
                        | If you like this project and wish to donate, bitcoin me: 1NC1af4v3KRzBMQCsaVQsQLSybryY8fww5
                    div.span1
                        |&nbsp;



