!!!
html
   head
      title= title
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootswatch/2.3.1/slate/bootstrap.min.css')
      link(rel='stylesheet', href='css/style.css')

      meta(name='viewport', content='width=device-width, initial-scale=1.0')

   body
      div#wrap
         div.navbar.navbar-fixed-top
            div.navbar-inner
               .container
                  button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
                     span.icon-bar
                     span.icon-bar
                     span.icon-bar
                  a.brand(href='#') Project name
                  .nav-collapse.collapse
                     ul.nav
                        li.active
                           a(href='#') Home
                        li
                           a(href='#about') About
                        li
                           a(href='#contact') Contact
                        li.dropdown
                           a.dropdown-toggle(href='#', data-toggle='dropdown')
                              | Dropdown
                              b.caret
                           ul.dropdown-menu
                              li
                                 a(href='#') Action
                              li
                                 a(href='#') Another action
                              li
                                 a(href='#') Something else here
                              li.divider
                              li.nav-header Nav header
                              li
                                 a(href='#') Separated link
                              li
                                 a(href='#') One more separated link
               
         div.container
            div.page-header
               h1 Congrefs&nbsp;
                  small Of the People

            block afterNav
               div.row-fluid
                  div.span2
                     |&nbsp;
                  div.span8.well
                     div(id='janrainEngageEmbed')
                  div.span2
                     |&nbsp;


               div.row-fluid
                  div.span1
                     |&nbsp;
                  div.span10
                     | If you like this project and wish to donate, bitcoin me: 1NC1af4v3KRzBMQCsaVQsQLSybryY8fww5
                  div.span1
                     |&nbsp;

               div#push
            
      div#footer
         .container
            p.muted.credit This will be filled in eventually


      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
      script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')
      block pageScripts
         script(type='text/javascript').
            (function() {
               if (typeof window.janrain !== 'object') window.janrain = {};
               if (typeof window.janrain.settings !== 'object') window.janrain.settings = {};
                    
               janrain.settings.tokenUrl = '#{tokenUrl}';

               function isReady() { janrain.ready = true; };
               if (document.addEventListener) {
                  document.addEventListener("DOMContentLoaded", isReady, false);
               } else {
                  window.attachEvent('onload', isReady);
               }

               var e = document.createElement('script');
               e.type = 'text/javascript';
               e.id = 'janrainAuthWidget';

               if (document.location.protocol === 'https:') {
                  e.src = 'https://rpxnow.com/js/lib/congrefs/engage.js';
               } else {
                  e.src = 'http://widget-cdn.rpxnow.com/js/lib/congrefs/engage.js';
               }

               var s = document.getElementsByTagName('script')[0];
               s.parentNode.insertBefore(e, s);
            })();


