extends index

block afterNav
   p Thanks for signing up, #{user.displayName}!
   p In order to create an account, we're going to need your email address. Please fill out the form below and press "Go!"
   form.form-horizontal(action='/register/email', method='POST')
      div.control-group
         label.control-label(for='email') Email Address
         div.controls
            input(type='email', name='email', placeholder='you@example.com')
      div.control-group
         div.controls
            button.btn.btn-primary(type='submit', value='Go') Go!

block modals

block pageScripts
   //- This is where any page specific scripts go   