extends index


block afterNav
   h3 Welcome to Congrefs, #{user.displayName}! 
   p Thanks for signing up. You can now leave comments and participate in the action. There's only one thing you can't do yet, and that's vote!
   p In order to vote on legislation, we need to know your congressional voting district. &nbsp;
      a(href='/register/district') Click here
      |&nbsp;to get that figured out.
   
block modals

block pageScripts
   //- This is where any page specific scripts go